@model VendorContactView

<div class="col">
    <div class="widget-box">
        <div class="widget-header">
            <span class="icon fa fa-th-list"></span>
            <h5>@Resource.ForHeader("VendorContact")</h5>
        </div>
        <div class="widget-content">
            <form asp-antiforgery="true">
                <div class="form-group">
                    <div class="form-actions col-lg-7">
                        <button class="btn btn-primary">@Resource.ForAction("Submit")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
